@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Oxproto;
    src: url("/fonts/0xProtoNerdFont-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Oxproto;
    color: #dac094;
}

body {
    background-color: #282828;
}

hr {
    margin: 15px 0;
    color: #92b386;
}

h {
    color: #87aca3;
}

.contact > a {
    margin: 5px;
}

.contact > a > img {
    margin: 0 8px 0 0;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}
