@font-face {
    font-family: dejavu;
    src: url("/DejaVuSansMono.ttf");
}

@font-face {
    font-family: dejavu;
    font-weight: bold;
    src: url("/DejaVuSansMono-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: dejavu;
    color: #13A10E;
    white-space: pre-line;
}

h1 {
    font-weight: bold;
    font-size: 16px;
}

::-moz-selection {
    color: black;
    background: #13A10E;
}

::selection {
    color: black;
    background: #13A10E;
}

body {
    background-color: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.selectable:hover {
    font-family: dejavu;
    font-weight: bold;
    color: #0a6c07;
}

.selectedH {
    font-family: dejavu;
    font-weight: bold;
    color: #0a6c07;
}

/* #vim {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 80vw;
    margin-top: 90px;
} */

#select_a {
    text-decoration: none;
}